

h1 {
  background: rgb(59,142,126);
  margin:5px 1px;
  padding:15px;
}

header p {
  background: gray;
  padding: 15px;
  color: white;
}

body {
  font-family: helvetica;
}

h2 {
  font-size: 1em;
}

.column-1 {
  width:45%;
  display:inline-block;
  vertical-align:top;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 15px;
  height: 1200px;
  margin:7px;
}

.column-2 {
  width:45%;
  display:inline-block;
  vertical-align:top;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 15px;
  height: 1200px;
  margin:7px;
}