
#title{
  font-family: helvetica;
  text-align: center;
  color: #509983;
}

#hat{
  padding: 10px;
  position: relative;
  top:30%;
  left: 25%;
}

#octopus{
  position: absolute;
  display: block;
  margin: auto;
  top:30%;
  left: 32%;
  z-index: -1;
}

#glasses{
  position: absolute;
  top: 47%;
  left: 39%
}